/* App.css */

.app-container {
  transition: transform 1s ease-in-out;
}

.hide-app {
  transform: rotateY(-180deg);
  visibility: hidden;
}

.show-app {
  transform: rotateY(0);
  visibility: visible;
}

@keyframes pageTurn {
  0% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(0);
  }
}

.min-h-screen {
  min-height: 100vh;
}



.welcome-message {
  text-align: center;
  color: white;
}

.welcome-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
